header {
  background: url('../images/busy_street_dot_jpeg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 81%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 15vh;
  padding: 2em 0;

  @media screen and (min-width: $desktop) {
    min-height: 30vh;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2em 0 0.5em 0;
    color: $lightBlue;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px $pink;

    @media screen and (min-width: $desktop) {
      font-size: 4rem;
    }
  }

  form {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .add-btn {
    font-size: 3.125rem;
    position: absolute;
    color: $white;
    right: 0;
    z-index: 1;
  }

  input {
    width: 90vw;
    padding: 1em;
    text-transform: uppercase;
    background-color: rgba(30, 32, 25, 0.5);
    border: solid 1px $white;
    color: $white;
    font-weight: $bold;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;

    &:focus {
      outline: none;
    }

    @media screen and (min-width: $desktop) {
      width: 31.25rem;
    }
  }
}
