// ----------- BREAKPOINTS ----------- //
$mobile: 23.4375rem; // 350px
$desktop: 46.875rem; // 750px

// --------- COLORS ------------ //
$white: #fbe5da;
$lightBlue: #9bb7b8;
$pink: #ad0149;
$black: #1e2019;

// ------ TYPOGRAPHY ---------- //
$fontFamily: 'Work Sans', sans-serif;
$medium: 400;
$bold: 700;
