@import 'var';
@import 'global';

header {
  background: url('../images/nathan-dumlao-89QxqL_yw-8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 103%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;

  h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1em;
    color: #9bb7b8;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px #ad0149;
  }

  input {
    width: 35%;
    padding: 1em;
    border: none;
    background-color: #fbe5da;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

main {
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  width: 40vw;
  min-height: 70vh;
  margin: 50px auto 50px auto;

  section {
    display: flex;
    justify-content: space-between;
  }
}

.check {
  text-decoration: line-through;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  .item {
    display: grid;
    padding: 1em 0.5em;
    margin: 0 auto;
    grid-template-columns: 20px auto 20px;
    grid-gap: 10px;
    background-color: #fbe5da;
    align-items: center;

    &:last-child {
      border-radius: 0 0 8px 8px;
    }
  }
}

.hide {
  display: none;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fbe5da;
  padding: 1em 0.5em;
  border-radius: 8px 8px 0 0;
  border-bottom: solid 2px #9bb7b8;

  select {
    border: none;
  }

  .clear {
    color: #ad0149;
    &:hover {
      text-decoration: underline;
    }
  }
}

.check-btn,
.delete-btn {
  color: #ad0149;
}

// ANIMATION
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.slideOut {
  animation: slideOut 300ms forwards;
}
